@import "@/styles/_variable.scss";
@import "@/styles/_colors.scss";

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  background-color: $white-color;
  height: $navbar-height;
  border-bottom: 3px solid $gray-color;
  z-index: 500;
}

.link {
  font-size: 28px;
  font-weight: 500;
  color: $black-color;
}
