$background-color: #fbeec1;

$white-color: rgb(250, 250, 250);
$dark-white-color: rgb(236, 236, 236);

$black-color: rgb(106, 103, 103);
$dark-black-color: rgb(67, 66, 66);

$gray-color: rgb(146, 146, 146);
